*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

.header {
  margin-top: 90px;
  padding: 0 50px;
}

.cover {
  background: url("../images/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 96px;
}

.lots {
  margin-top: 180px;
  padding: 0 24px;
}

.about {
  margin-top: 120px;
  padding: 0 24px;
}

.footer {
  margin: 180px 0 82px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: -1;
}





