/* Start style header */
.header {
  margin-top: 90px;
  padding: 0 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}
.header__links-list-item {
  font-weight: 400;
  font-size: 18px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-size: 18px;
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 136px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
  line-height: 135%;
  font-style: normal;
  text-underline-offset: 4px;
}

.header__address {
  justify-self: end;
  max-width: 240px;
}

/* End style header */

/* Start style cover */

.cover {
  text-transform: uppercase;
  position: relative;
  min-height: 757px;
  color: #fff;
  z-index: 1;
  box-sizing: border-box;
  background: url("../images/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 96px;
}

h1 {
  padding: 165px 50px 0px 50px;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text_left {
  display: block;
  text-align: left;
  margin-bottom: 20px;
  line-height: 107%;
}

.aligned-text_center {
  display: block;
  text-align: center;
  margin-left: 30px;
  margin-bottom: 20px;
  line-height: 124%;
}

.aligned-text_right {
  display: block;
  text-align: end;
  line-height: 110%;
}

.letter-spacing-extended {
  display: inline-block;
  letter-spacing: 0;
}

.description {
  margin-top: 108px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.description__text {
  font-size: 22px;
  word-spacing: 19px;
}

.description__button {
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background: none;
  padding: 12px 32px;
  border: 1px solid white;
  font-family: Raleway, sans-serif;
}

/* End style cover */

/* Start style lots */
.lots {
  margin-top: 180px;
  padding: 0 24px;
}

.lots__title {
  padding-left: 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 27px;
  justify-content: center;
  gap: 25px;
}

.lots__card-list-item {
  position: relative;
  width: 334px;
  min-height: 596px;
  list-style: none;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  color: #fff;
  z-index: 1;
  background-size: cover;
  background-position: center;
}

.card__title {
  margin-top: 48px;
  width: 254px;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.card__text {
  margin-bottom: 48px;
  width: 254px;
  font-size: 20px;
  line-height: 120%;
}

.card_type_film {
  background: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background: url("../images/card-lot-03.jpg");
}

.lots__look-more-link {
  display: block;
  margin-top: 30px;
  margin-left: 40px;
  font-size: 20px;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
}

/* End style lots */

/* Start style about */

.about {
  margin-top: 120px;
  padding: 0 24px;
  display: grid;
  column-gap: 25px;
  grid-template-columns: 334px auto;
  justify-items: center;
}

.about__logo {
  display: flex;
  align-items: center;
  margin-top: 35px;
  justify-content: center;
  width: 240px;
  height: 240px;
  border-radius: 100%;
  background-color: black;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  margin-top: 133px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.about__text {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 120%;
  gap: 24px;
}

/* End style about */

/* Start style footer */

.footer {
  margin: 180px 0 82px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 50px;
}

.footer__address {
  max-width: 264px;
}

.footer__menu {
  text-underline-offset: 4px;
}

.footer__links-list {
  font-size: 18px;
  text-align: center;
}

.footer__links-list-item {
  list-style: none;
}

.footer__link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  width: 100%;
  gap: 48px;
  justify-content: end;
  padding-bottom: 48px;
}

.footer__social-list-item {
  list-style: none;
  height: 48px;
}

.footer__social-link {
  display: block;
  width: 48px;
  height: auto;
}
/* End style footer */
